.container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -100px;
  margin-left: -500px;
  text-align: center;
  width: 50%;
}

.row {
  display: flex;
}

.font-size-35 {
  font-size: 35px;
}

.font-family-typewriter {
  font-family:
    "Bree Serif",
    serif;
}

.text-color-green {
  color: #19cd1b;
  font-family:
    "Bree Serif",
    serif;
}

span.text-color-red {
  color: red;
  font-family:
    "Bree Serif",
    serif;
}

.underline {
  border-bottom: 2px solid black;
}

.underline-red {
  border-bottom: 2px solid red;
}

.justify-content-c {
  justify-content: center;
}

.white-space-pre {
  white-space: pre;
}
